.App {
  text-align: center;
  background-color: brown;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.login {
  height: 100%;
  background-color: #7c869b;
  font-style: normal;
  font-size: 150%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submit-button {
  height: 80%;
  background-color: #7c869b;
  font-style: normal;
  font-size: 70%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.padd {
  padding-right: 1%;
}
.padd-submit-btn {
  padding-right: 1%;
  border-radius: 25px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
